
*{margin:0px ; padding:0px ; box-sizing:border-box}

body {background:whitesmoke; background-size:cover;background-position-x:center; background-position-y:-25vmax;animation:bgscroll 6s 1 forwards; background-repeat:repeat-y; 
    
    ; width:100vw; min-height:100vh; background-attachment: fixed;}

header {z-index:2000;position:fixed;margin:0px; top:0px;display:flex; justify-content: space-around; color:white ; width:100%;height:45px; align-items:center;}
header .logo h2 {font-size:35px;font-family:'Roboto';}
header .hidbut button{display:none; border:none;background:#051e3e; width:40px ; color:white; height:25px;margin-right:20px;font-size:30px;}
header .links {width:34%;}
header .links ul {display: flex; justify-content:space-around; list-style-type: none; padding-left:none;}
header .links ul li a {text-decoration: none; font-size:20px; width:100%; height:100%;color:white; text-transform: uppercase; text-shadow:2px 2px 3px black;font-family:'roboto'}

header .changed {width:100%;height:200px;}
header .changed ul {margin-top:5px;display: flex ;justify-content:space-around;flex-direction:column; list-style-type: none; width:100%; height:200px;}
header .changed ul li{width:100%;height:66.6%; background:rgba(101, 30, 62, 0.9) }
header .changed ul li a {text-decoration: none; font-size:20px;color:white; text-transform: uppercase; text-shadow:2px 2px 3px black; text-align:center; display:block; width:100%; height:100%;padding-top:15px; border-bottom:1px solid rgba(0,0,0,0.8); }

.middle { width:100%; height:650px; display:block; background:url('./images/asdfs.jpg'); background-size:cover; background-position: center; }




.section  {display:flex; flex-direction:row; width:100%;height:100% ; background:whitesmoke;opacity:1;margin:0px 0px; padding:0px 0px; align-items:center; justify-items:space-around; }
.section  .img {height:100%; width:50%;background:#451e3e ;-webkit-clip-path: polygon(0 0, 61% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 61% 0, 100% 100%, 0% 100%);  }
.section  .img img {width:100% ; height:100%;opacity:1; background:whitesmoke;   }
.section  .text { display:flex;  flex-direction:column;  align-items:center; width:70%; height:50%;font-family:'roboto'}
.section  .text p { width:80%; text-align:center;line-height:4vh; font-size:20px;opacity:1;color:#251e3e; font-family:'roboto'}
.section  .text h2{font-size:10vh;color: #851e3e}

.section:nth-child(even){
    flex-direction:row-reverse;
}

.section:nth-child(even) .img{
    
    -webkit-clip-path: polygon(36% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(36% 0, 100% 0, 100% 100%, 0% 100%);
}

@media screen and (max-width:700px){
header .links {display:none;}
header .hidbut button{display:block;}
header { justify-content:space-between; flex-wrap:wrap;align-items:center;height:50px; }
header .logo h2 {font-size:40px;margin-left:10px;}
body {background-position-y:0px; background-attachment: scroll; overflow-x:hidden; background-size:100% 100vh; background-position-x: center;}
body{animation:none;}
}